{% extends "base.html" %}
{% block title %}{{ user_profile.username }}{% endblock %}
{% block header %}Профиль пользователя {{ user_profile.username }}{% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2">
                            <!-- Имя автора -->
                            Имя и фамилия: {{ user_profile.get_full_name }}
                        </div>
                        <div class="h3 text-muted">
                            <!-- username автора -->
                            Имя пользователя: {{ user_profile.username }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                            Подписчиков: {{ num_of_subs }} <br />
                            Подписан: {{ num_of_authors }}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                <!-- Количество записей -->
                                Записей: {{ num_of_posts }}
                            </div>
                        </li>
                        {% if user_profile.username != request.user.username %}
                            <li class="list-group-item">
                                {% if following %}
                                    <a class="btn btn-lg btn-light" 
                                        href="{% url 'profile_unfollow' user_profile.username %}" role="button"> 
                                        Отписаться 
                                    </a> 
                                {% else %}
                                    <a class="btn btn-lg btn-primary" 
                                        href="{% url 'profile_follow' user_profile.username %}" role="button">
                                        Подписаться 
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                
                {% for post in page %}
                    <!-- Начало блока с отдельным постом --> 
                    {% include "post_item.html" with post=post %}
                    <!-- Конец блока с отдельным постом --> 
                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}

                {% if page.has_other_pages%}
                    {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}
            </div>
        </div>
    </main>
    

{% endblock %}